---
import '../styles/tailwind.css'

const base = import.meta.env.BASE_URL
---

<html lang="en-GB">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Gareth Simons" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Isobenefit Urbanism QGIS Plugin</title>
    <meta set:html name="description" content="Isobenefit Urbanism plugin for QGIS" />
    <meta set:html name="keywords" content="" />
    <link rel="icon" href={`${base}favicon.svg`} type="image/svg+xml" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;600&family=Space+Grotesk:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap"
    />
  </head>
  <body class="h-full w-full">
    <div class="app-container">
      <div class="app-content">
        <slot />
      </div>
    </div>
  </body>
</html>

<style>
  .app-container {
    @apply flex h-full min-h-screen w-full flex-col items-center;
  }
  .app-content {
    @apply flex w-full max-w-6xl flex-col items-stretch px-3 py-10;
  }
</style>
